:root {
  --mainBlue: #2ce6ce;
  --mainWhite: #fff;
  --grayWhite: #eee;
  --mainBlack: #111;
  --lightBlack: #bbb;
}
/* body {
  background: var(--mainBlue);
} */

a {
  text-decoration: none;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
}
label {
  font-size: 1.2rem;
  /* margin-bottom: 5px; */
  margin-top: 10px;
}
.text-blue {
  color: var(--mainBlue);
}
.header-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.logo-text {
  color: var(--mainWhite);
  font-size: 24px;
}
.login-btn {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  border: 1px solid var(--mainWhite);
  font-size: 16px;
  padding: 8px;
}
.login-btn:hover {
  background: var(--mainWhite);
  color: var(--mainBlue);
}

.weekly-mood-tracker-box {
  width: 600px;
  /* height: 500px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--mainWhite);
  border: 1px solid #c9c1c1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.moods {
  margin: 20px 0 10px 0;
}

.box-content {
  padding: 50px;
}
.mood-label {
  margin-bottom: 10px;
}
input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #03a8f45e;
  font-size: 14px;
  color: var(--lightBlack);
  width: 50%;
}
textarea {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #03a8f45e;
  font-size: 14px;
  color: var(--lightBlack);
  width: 100%;
}

.mood-options {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  margin-top: 10px;
}

.options {
  display: flex;
  align-items: center;
  width: 65px;
  /* height: 80px; */
  padding: 12px;
  /* margin: 10px; */
  border-radius: 50%;
  animation-duration: 0.5s;
  transform-origin: bottom;
}

.bounce-1 {
  /* zoom: 1.2; */
  animation-name: bounce-1;
  animation-timing-function: linear;
  background: #8e96e7;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.form-group {
  padding-top: 15px;
}

.btn-submit {
  padding: 12px 20px;
  /* width: 120px;
  height: 50px; */
  font-size: 1.2rem;
  color: var(--mainBlue);
  border: 1px solid #2ce6ce;
  background: var(--mainWhite);
}
.btn-submit:hover {
  border: 1px solid var(--mainWhite);
  background: #2ce6ce;
  color: var(--mainWhite);
}

/* questions css */
.question-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.dialog-arrow {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -7px;
  margin-top: 2rem;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
}
.question-container {
  width: 750px;
  /* height: 500px; */
  margin-bottom: 30px;
  background: var(--mainWhite);
  border: 1px solid #c9c1c1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.question-content {
  padding: 20px 40px;
}
.option-help-text {
  display: flex;
  justify-content: space-between;
}
.question-comment {
  display: flex;
  justify-content: center;
}

.button-section {
  display: flex;
  justify-content: space-between;
}
.comment-grid {
  margin: 20px;
}
.box-emoji {
  width: 80px;
}
.emoji-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.emoji-text {
  padding: 10px;
}
