.container {
  padding-left: 5rem;
  padding-right: 5rem;
}
label {
  font-size: 1.4rem;
  /* margin-bottom: 5px; */
  margin-top: 10px;
  color: var(--mainBlue);
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.logo-text {
  color: var(--mainWhite);
  font-size: 24px;
}
.login-btn {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  border: 1px solid var(--mainWhite);
  font-size: 16px;
  padding: 8px;
}
.login-btn:hover {
  background: var(--mainWhite);
  color: var(--mainBlue);
}

.weekly-mood-tracker-box {
  width: 700px;
  /* height: 500px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--mainWhite);
  border: 1px solid #c9c1c1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.moods {
  margin: 20px 0 10px 0;
}

.box-content {
  padding: 80px;
}
.mood-label {
  margin-bottom: 10px;
}
input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #03a8f45e;
  font-size: 14px;
  color: var(--lightBlack);
  width: 50%;
}
textarea {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #03a8f45e;
  font-size: 14px;
  color: var(--lightBlack);
  width: 100%;
}

.mood-options {
  display: flex;
  justify-content: space-around;
}

.options {
  display: flex;
  align-items: center;
  width: 73px;
  /* height: 80px; */
  /* background: #eee; */
  /* padding: 10px; */
  margin: 10px;
}
.form-group {
  padding-bottom: 15px;
}

.btn-submit {
  padding: 10px;
  width: 120px;
  height: 50px;
  font-size: 1.2rem;
  color: var(--mainBlue);
  border: 1px solid #2ce6ce;
  background: var(--mainWhite);
}
.btn-submit:hover {
  border: 1px solid var(--mainWhite);
  background: #2ce6ce;
  color: var(--mainWhite);
}
